body{
  margin: auto;
  
}
#logo{  
  background-color: #326647;     
  text-align: center;   
  padding: 10px;
  color: white;  
}

p {
  padding-top: 30px ;
  font-size: large;
}

nav {
  margin-top: 1px;
  margin-left: 10px;
  margin-right: 10px;
  width: 50%;
  border-radius: 10px;
  display: flex;
  position: relative; 
  left: 25%;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: black;
  margin-bottom: 50px;
}

nav a {
  font-size: x-large;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
}
nav ul {
  padding:20%;  
}
#content {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: row; /* Items side by side */
  align-items: flex-start; /* Align items at the top */
  gap: 20px; /* Space between video and text */
  text-align: justify;
  padding-bottom: 10%;
}

#index{
  width:50%;
}
#logos{
  margin-left: 100px;
}
#contact{
  clear: both;
  padding-top: 20px;
}
#footer{
  clear: both;
  background-color: #326647;     
  text-align: center;   
  padding: 10px;
  color: white;  
}

 #photos{
 /*padding-bottom: 10px;*/
  padding-left: 10px;
  margin-left: 10%;
}

#photo_menu{
  margin-bottom: 100px;
}
